<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VHDL</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5.13 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.vhdl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5.13</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>-- </string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywordList</key>
			<array>
				<string>abs</string>
				<string>access</string>
				<string>after</string>
				<string>alias</string>
				<string>all</string>
				<string>and</string>
				<string>architecture</string>
				<string>array</string>
				<string>assert</string>
				<string>attribute</string>
				<string>begin</string>
				<string>block</string>
				<string>body</string>
				<string>buffer</string>
				<string>bus</string>
				<string>case</string>
				<string>component</string>
				<string>configuration</string>
				<string>constant</string>
				<string>disconnect</string>
				<string>downto</string>
				<string>else</string>
				<string>elsif</string>
				<string>end</string>
				<string>entity</string>
				<string>exit</string>
				<string>file</string>
				<string>for</string>
				<string>function</string>
				<string>generate</string>
				<string>generic</string>
				<string>group</string>
				<string>guarded</string>
				<string>if</string>
				<string>impure</string>
				<string>in</string>
				<string>inertial</string>
				<string>inout</string>
				<string>is</string>
				<string>label</string>
				<string>library</string>
				<string>linkage</string>
				<string>literal</string>
				<string>loop</string>
				<string>map</string>
				<string>mod</string>
				<string>nand</string>
				<string>new</string>
				<string>next</string>
				<string>nor</string>
				<string>not</string>
				<string>null</string>
				<string>of</string>
				<string>on</string>
				<string>open</string>
				<string>or</string>
				<string>others</string>
				<string>out</string>
				<string>package</string>
				<string>port</string>
				<string>postponed</string>
				<string>procedure</string>
				<string>process</string>
				<string>pure</string>
				<string>range</string>
				<string>record</string>
				<string>register</string>
				<string>rem</string>
				<string>report</string>
				<string>return</string>
				<string>rol</string>
				<string>ror</string>
				<string>select</string>
				<string>severity</string>
				<string>shared</string>
				<string>signal</string>
				<string>sla</string>
				<string>sll</string>
				<string>sra</string>
				<string>srl</string>
				<string>subtype</string>
				<string>then</string>
				<string>to</string>
				<string>transport</string>
				<string>type</string>
				<string>unaffected</string>
				<string>units</string>
				<string>until</string>
				<string>use</string>
				<string>variable</string>
				<string>wait</string>
				<string>when</string>
				<string>while</string>
				<string>with</string>
				<string>xnor</string>
				<string>xor</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>VHDL</string>
			<key>BBLMLanguageDisplayName</key>
			<string>VHDL</string>
			<key>BBLMMainFunctionName</key>
			<string>VHDLMachO</string>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.vhd</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.vhdl</string>
				</dict>
			</array>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
