<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>TextWrangler text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.binary-property-list</string>
				<string>com.apple.crashreport</string>
				<string>com.apple.dashcode.css</string>
				<string>com.apple.dashcode.javascript</string>
				<string>com.apple.dashcode.json</string>
				<string>com.apple.dashcode.manifest</string>
				<string>com.apple.dt.document.ascii-property-list</string>
				<string>com.apple.dt.document.script-suite-property-list</string>
				<string>com.apple.dt.document.script-terminology-property-list</string>
				<string>com.apple.property-list</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.scripting-definition</string>
				<string>com.apple.symbol-export</string>
				<string>com.apple.xcode.ada-source</string>
				<string>com.apple.xcode.bash-script</string>
				<string>com.apple.xcode.colortheme</string>
				<string>com.apple.xcode.commands</string>
				<string>com.apple.xcode.configsettings</string>
				<string>com.apple.xcode.csh-script</string>
				<string>com.apple.xcode.diff</string>
				<string>com.apple.xcode.fortran-source</string>
				<string>com.apple.xcode.glsl-source</string>
				<string>com.apple.xcode.ksh-script</string>
				<string>com.apple.xcode.lex-source</string>
				<string>com.apple.xcode.make-script</string>
				<string>com.apple.xcode.mig-source</string>
				<string>com.apple.xcode.pascal-source</string>
				<string>com.apple.xcode.strings-text</string>
				<string>com.apple.xcode.tcsh-script</string>
				<string>com.apple.xcode.yacc-source</string>
				<string>com.apple.xcode.zsh-script</string>
				<string>com.apple.xml-property-list</string>
				<string>com.barebones.bbedit.actionscript-source</string>
				<string>com.barebones.bbedit.erb-source</string>
				<string>com.barebones.bbedit.ini-configuration</string>
				<string>com.barebones.bbedit.javascript-source</string>
				<string>com.barebones.bbedit.json-source</string>
				<string>com.barebones.bbedit.jsp-source</string>
				<string>com.barebones.bbedit.lasso-source</string>
				<string>com.barebones.bbedit.lua-source</string>
				<string>com.barebones.bbedit.setext-source</string>
				<string>com.barebones.bbedit.sql-source</string>
				<string>com.barebones.bbedit.tcl-source</string>
				<string>com.barebones.bbedit.tex-source</string>
				<string>com.barebones.bbedit.textile-source</string>
				<string>com.barebones.bbedit.vbscript-source</string>
				<string>com.barebones.bbedit.vectorscript-source</string>
				<string>com.barebones.bbedit.verilog-hdl-source</string>
				<string>com.barebones.bbedit.vhdl-source</string>
				<string>com.barebones.bbedit.yaml-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>net.daringfireball.markdown</string>
				<string>public.assembly-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-source</string>
				<string>public.csh-script</string>
				<string>public.html</string>
				<string>public.lex-source</string>
				<string>public.mig-source</string>
				<string>public.nasm-assembly-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.objective-c-source</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.precompiled-c-header</string>
				<string>public.precompiled-c-plus-plus-header</string>
				<string>public.python-script</string>
				<string>public.rtf</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.text</string>
				<string>public.utf16-external-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>GenericPlugIn.icns</string>
			<key>CFBundleTypeName</key>
			<string>BBEdit language module</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.barebones.bbedit.language-module</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Anything</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.folder</string>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TextWrangler</string>
	<key>CFBundleGetInfoString</key>
	<string>4.5.12 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TextWrangler Help</string>
	<key>CFBundleHelpBookName</key>
	<string>TextWrangler Help</string>
	<key>CFBundleIconFile</key>
	<string>TextWranglerApplication.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.textwrangler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TextWrangler</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.5.12</string>
	<key>CFBundleSignature</key>
	<string>!Rch</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>perldoc lookup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-perldoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>pydoc lookup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-pydoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>rubydoc lookup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-rubydoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>BBEdit custom control</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-bbedit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Textmate compatibility</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>txmt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>TextWrangler/New TextWrangler Document with Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>TextWrangler</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>TextWrangler/Open File in TextWrangler</string>
			</dict>
			<key>NSMessage</key>
			<string>openFile</string>
			<key>NSPortName</key>
			<string>TextWrangler</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<array>
					<string>FilePath</string>
				</array>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.plain-text</string>
				<string>NSURLPboardType</string>
				<string>public.url</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.barebones.authd</key>
		<string>identifier com.barebones.authd and certificate leaf[subject.CN] = "Developer ID Application: Bare Bones Software, Inc."</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://versioncheck.barebones.com/TextWrangler.xml</string>
	<key>SUHelpAnchor</key>
	<string>TextWrangler_SUHelpAnchor</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.applescript.object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BBEdit Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.document-object</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.barebones.bbedit.document-object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BBEdit Text Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.textdocument-object</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BBEdit language module</string>
			<key>UTTypeIconFile</key>
			<string>GenericPlugIn.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.language-module</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bblm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ActionScript source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.actionscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>as</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>INI configuration file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.ini-configuration</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cfg</string>
					<string>ini</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.json-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSP source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.jsp-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jsp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JavaScript source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.javascript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>js</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lasso source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.lasso-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lasso</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.lua-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lua</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>text</string>
					<string>mark</string>
					<string>markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Embedded Ruby source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.erb-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>erb</string>
					<string>rhtml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQL source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.sql-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mssql</string>
					<string>mysql</string>
					<string>pgsql</string>
					<string>pls</string>
					<string>sql</string>
					<string>tql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Setext source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.setext-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>etx</string>
					<string>stx</string>
					<string>setext</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tcl source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.tcl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tcl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeX source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.tex-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
					<string>latex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Textile source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.textile-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>textile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VBScript source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.vbscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vbs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VHDL source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.vhdl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vhd</string>
					<string>vhdl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Verilog HDL source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.verilog-hdl-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>v</string>
					<string>vl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VectorScript source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.vectorscript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vs</string>
					<string>vss</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YAML source file</string>
			<key>UTTypeIconFile</key>
			<string>TextWranglerTextDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.barebones.bbedit.yaml-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yml</string>
					<string>yaml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>com.barebones.MarketingVersion</key>
	<string>4.5.12</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
</dict>
</plist>
