<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Lua</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5.13 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.lua</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5.13</string>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>--</string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywordList</key>
			<array>
				<string>and</string>
				<string>break</string>
				<string>do</string>
				<string>else</string>
				<string>elseif</string>
				<string>end</string>
				<string>false</string>
				<string>for</string>
				<string>function</string>
				<string>if</string>
				<string>in</string>
				<string>local</string>
				<string>nil</string>
				<string>not</string>
				<string>or</string>
				<string>repeat</string>
				<string>return</string>
				<string>then</string>
				<string>true</string>
				<string>until</string>
				<string>while</string>
				<string>...</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Lua </string>
			<key>BBLMLanguageDisplayName</key>
			<string>Lua</string>
			<key>BBLMMainFunctionName</key>
			<string>LuaMachO</string>
			<key>BBLMPredefinedNameList</key>
			<array>
				<string>_G</string>
				<string>_VERSION</string>
				<string>assert</string>
				<string>collectgarbage</string>
				<string>dofile</string>
				<string>error</string>
				<string>getfenv</string>
				<string>getmetatable</string>
				<string>ipairs</string>
				<string>load</string>
				<string>loadfile</string>
				<string>loadstring</string>
				<string>module</string>
				<string>next</string>
				<string>pairs</string>
				<string>pcall</string>
				<string>print</string>
				<string>rawequal</string>
				<string>rawget</string>
				<string>rawset</string>
				<string>require</string>
				<string>select</string>
				<string>setfenv</string>
				<string>setmetatable</string>
				<string>tonumber</string>
				<string>tostring</string>
				<string>type</string>
				<string>unpack</string>
				<string>xpcall</string>
				<string>coroutine.create</string>
				<string>coroutine.resume</string>
				<string>coroutine.running</string>
				<string>coroutine.status</string>
				<string>coroutine.wrap</string>
				<string>coroutine.yield</string>
				<string>debug.debug</string>
				<string>debug.getfenv</string>
				<string>debug.gethook</string>
				<string>debug.getinfo</string>
				<string>debug.getlocal</string>
				<string>debug.getmetatable</string>
				<string>debug.getregistry</string>
				<string>debug.getupvalue</string>
				<string>debug.setfenv</string>
				<string>debug.sethook</string>
				<string>debug.setlocal</string>
				<string>debug.setmetatable</string>
				<string>debug.setupvalue</string>
				<string>debug.traceback</string>
				<string>file:close</string>
				<string>file:flush</string>
				<string>file:lines</string>
				<string>file:read</string>
				<string>file:seek</string>
				<string>file:setvbuf</string>
				<string>file:write</string>
				<string>io.close</string>
				<string>io.flush</string>
				<string>io.input</string>
				<string>io.lines</string>
				<string>io.open</string>
				<string>io.output</string>
				<string>io.popen</string>
				<string>io.read</string>
				<string>io.tmpfile</string>
				<string>io.type</string>
				<string>io.write</string>
				<string>math.abs</string>
				<string>math.acos</string>
				<string>math.asin</string>
				<string>math.atan2</string>
				<string>math.atan</string>
				<string>math.ceil</string>
				<string>math.cosh</string>
				<string>math.cos</string>
				<string>math.deg</string>
				<string>math.exp</string>
				<string>math.floor</string>
				<string>math.fmod</string>
				<string>math.frexp</string>
				<string>math.huge</string>
				<string>math.ldexp</string>
				<string>math.log10</string>
				<string>math.log</string>
				<string>math.max</string>
				<string>math.min</string>
				<string>math.modf</string>
				<string>math.pi</string>
				<string>math.pow</string>
				<string>math.rad</string>
				<string>math.random</string>
				<string>math.randomseed</string>
				<string>math.sinh</string>
				<string>math.sin</string>
				<string>math.sqrt</string>
				<string>math.tanh</string>
				<string>math.tan</string>
				<string>os.clock</string>
				<string>os.date</string>
				<string>os.difftime</string>
				<string>os.execute</string>
				<string>os.exit</string>
				<string>os.getenv</string>
				<string>os.remove</string>
				<string>os.rename</string>
				<string>os.setlocale</string>
				<string>os.time</string>
				<string>os.tmpname</string>
				<string>package.cpath</string>
				<string>package.loaded</string>
				<string>package.loadlib</string>
				<string>package.path</string>
				<string>package.preload</string>
				<string>package.seeall</string>
				<string>string.byte</string>
				<string>string.char</string>
				<string>string.dump</string>
				<string>string.find</string>
				<string>string.format</string>
				<string>string.gmatch</string>
				<string>string.gsub</string>
				<string>string.len</string>
				<string>string.lower</string>
				<string>string.match</string>
				<string>string.rep</string>
				<string>string.reverse</string>
				<string>string.sub</string>
				<string>string.upper</string>
				<string>table.concat</string>
				<string>table.insert</string>
				<string>table.maxn</string>
				<string>table.remove</string>
				<string>table.sort</string>
			</array>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.lua</string>
				</dict>
			</array>
			<key>BBLMSupportsCFStringKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
