<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Markdown</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5.13 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.markdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5.13</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
	<key>com.barebones.bblm.markdown.languagesupport</key>
	<dict>
		<key>HTMLBlockTags</key>
		<array>
			<string>p</string>
			<string>div</string>
			<string>h1</string>
			<string>h2</string>
			<string>h3</string>
			<string>h4</string>
			<string>h5</string>
			<string>h6</string>
			<string>blockquote</string>
			<string>pre</string>
			<string>table</string>
			<string>dl</string>
			<string>ol</string>
			<string>ul</string>
			<string>script</string>
			<string>noscript</string>
			<string>form</string>
			<string>fieldset</string>
			<string>iframe</string>
			<string>math</string>
			<string>ins</string>
			<string>del</string>
			<string>section</string>
		</array>
	</dict>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<true/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentPrefixDefault</key>
			<string>&lt;!-- </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> --&gt;</string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMLanguageCode</key>
			<string>MRKD</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Markdown</string>
			<key>BBLMMainFunctionName</key>
			<string>MarkdownMachO</string>
			<key>BBLMPreferredFilenameExtension</key>
			<string>md</string>
			<key>BBLMPreviewHTMLGenerator</key>
			<dict>
				<key>BBLMPreviewCommandPath</key>
				<string>Markdown.pl</string>
				<key>BBLMPreviewCommandType</key>
				<string>ScriptInBundleResource</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.text</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.mark</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.markdown</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.md</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.mdown</string>
				</dict>
			</array>
			<key>BBLMSupportsCFStringKeywordLookups</key>
			<true/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
