<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ruby</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5.13 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.ruby</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5.13</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
	<key>com.barebones.bblm.ruby.languagesupport</key>
	<dict/>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMFileNamesToMatch</key>
			<array>
				<string>Rakefile</string>
				<string>Capfile</string>
			</array>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywordList</key>
			<array>
				<string>%</string>
				<string>%q</string>
				<string>%Q</string>
				<string>%r</string>
				<string>%R</string>
				<string>%w</string>
				<string>%W</string>
				<string>%x</string>
				<string>=begin</string>
				<string>=end</string>
				<string>BEGIN</string>
				<string>END</string>
				<string>__END__</string>
				<string>__FILE__</string>
				<string>__LINE__</string>
				<string>alias</string>
				<string>and</string>
				<string>begin</string>
				<string>break</string>
				<string>case</string>
				<string>class</string>
				<string>def</string>
				<string>defined?</string>
				<string>do</string>
				<string>else</string>
				<string>elsif</string>
				<string>end</string>
				<string>ensure</string>
				<string>false</string>
				<string>for</string>
				<string>if</string>
				<string>in</string>
				<string>module</string>
				<string>next</string>
				<string>nil</string>
				<string>not</string>
				<string>or</string>
				<string>redo</string>
				<string>require</string>
				<string>rescue</string>
				<string>retry</string>
				<string>return</string>
				<string>self</string>
				<string>super</string>
				<string>then</string>
				<string>true</string>
				<string>undef</string>
				<string>unless</string>
				<string>until</string>
				<string>when</string>
				<string>while</string>
				<string>yield</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Ruby</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Ruby</string>
			<key>BBLMMainFunctionName</key>
			<string>RubyMachO</string>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-rubydoc://lookup/__SYMBOLNAME__</string>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.rb</string>
				</dict>
			</array>
			<key>BBLMSupportsCFStringKeywordLookups</key>
			<true/>
			<key>BBLMSupportsSubrangeFunctionScan</key>
			<true/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
